:root {
    --grid-rows: 10;
    --grid-cols: 10;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
}

header h1 {
    font-size: 3rem;
}

.btn {
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    font-size: 1rem;
    color: white;
}

.btn:hover {
    background: chartreuse;
}

.container {
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    height: 30rem;
    width: 30rem;
    margin: 0 auto;
    border: 2px solid black
}

.grid {
    border: 1px solid black;
}

@media (max-width: 760px) {
    .container {
        width: 19rem;
        height: 19rem;
    }
}